
/* Header */
header {
  background: var(--button-color);
  height: 60px;
  padding-top: 16px;
  top: 0;
}

.header-right-top {
  float: right;
  padding: 0 30px;
  position: relative;
  text-align: right;
}

.header-right-top img {
  border-radius: 50%;
}

.search-bar {
  background: url("../images/search-icon.svg") no-repeat;
  background-color: #fff;
  background-position: right 16px center;
  background-size: 24px;
  padding-right: 56px;
}
