a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  --selected-blue: #1a73e8;
}

/* Header */
header {
  background: var(--header-color);
  height: 60px;
  padding-top: 16px;
  position: relative;
}

.header-left {
  float: left;
  position: absolute;
  text-align: left;
}

.header-right {
  padding: 0 30px;
  position: absolute;
  right: 0;
  text-align: right;
}

.header-right img {
  border-radius: 50%;
}

.search-bar {
  background: url("../images/icons/search-icon.svg") no-repeat;
  background-color: #fff;
  background-position: right 16px center;
  background-size: 24px;
  padding-right: 56px;
  width: 632px;
  z-index: 1;
}

/* results types */

.results-types {
  background: var(--header-color);
  border-bottom: 1px solid var(--button-color);
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 10px 20px 0 150px;
}

.results-types ul li:hover {
  color: var(--dark-text);
  text-decoration: none;
}

.settings-tools {
  position: relative;
  text-align: right;
  width: 632px;
}

.types {
  position: absolute;
  z-index: 1;
}

#all {
  font-weight: 700;
  color: var(--selected-blue);
}

#tool-button {
  padding-left: 25px;
}

#tool-button-outline {
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(0,0,0,0.2);;
  border-radius: 2px;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -10px;
  visibility: hidden;
  width: 60px;
}

#tool-button:hover #tool-button-outline {
  visibility: visible;
}

#underline {
  background: var(--selected-blue);
  bottom: -41px;
  height: 3px;
  position: relative;
  width: 45px;
}

/* MAIN */

main {
  padding: 0;
  margin: 10px 10px 10px 150px;
  width: 632px;
}

main > div {
  padding: 16px;
}

.results-info {
  color: var(--light-text);
  padding-top: 6px;
}

/* featured result */

.featured-about {
  bottom: -20px;
  right: 8px;
  color: var(--light-text);
  font-size: 12px;
  position: absolute;
  text-align: right;
}

.featured-about img {
  vertical-align: bottom;
  padding-right: 8px;
}

.featured-blurb {
  font-size: 16px;
  line-height: 19px;
  width: 420px;
}

.featured-blurb .blurb-date {
  color: var(--light-text);
  font-size: 14px;
}

.featured-link {
  font-size: 18px;
  margin-top: 28px;
}

.featured-image {
  position: absolute;
  top: -1px;
  right: -2px;
}

.featured-result {
  border: 1px solid var(--button-color);
  border-radius: 2px;
  box-shadow: var(--button-color) 0 2px 2px 1px;
  -moz-box-shadow: var(--button-color) 0 2px 2px 1px;
  -webkit-box-shadow: var(--button-color) 0 2px 2px 1px;
  position: relative;
}

.featured-url {
  color: var(--green-text);
  font-size: 14px;
}

/* Videos */

figure {
  margin: 0;
}

figcaption {
  height: 94px;
  padding: 16px;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
}

.video {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.08) 0 2px 2px 1px;
  -moz-box-shadow: rgba(0,0,0,0.08) 0 2px 2px 1px;
  -webkit-box-shadow: rgba(0,0,0,0.08) 0 2px 2px 1px;
  display: inline-block;
  width: 205px;
}

.video-info {
  padding: 0 16px 16px 16px;
}

.video-date, .video-user {
  color: var(--light-text);
}

.video-published {
  padding: 2px 0;
}

.video-source {
  color: var(--green-text);
}

.videos-scroller {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  position: relative;
  width: 640px;
}

.videos {
  margin-top: 40px;
}

#more-videos {
  background: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: center;
  position: absolute;
  top: 128px;
  right: -18px;
  width: 36px;
}

#more-videos img {
  margin: auto;
}
